
body {
 	margin: 0px;
 	padding:0px;
}
.row {
	display: flex;
	flex:100%;
	clear:both;
}

.column {
	flex:50%;
	float:left;

}
.right {
	float:right;
	letter-spacing:1px;
	margin-right:10px;
	font-weight: 800;
}


h5 {
	color:maroon;
    position: relative;
    top:-25px;
}
.line {
	border-top:2px solid gray ;
    width:230px;
    position: relative;
    top:-50px;
}

h2 {
	color:black; 
	position: relative;
    top:-70px;
}

small {
	color:dimgray;
	position: relative;
    top:-90px;
}

nav {
	background-color:maroon;
	 text-align: right;
	  height:30px;
	   color:maroon;
	  padding: 5px;
	   position: relative;
    top:-80px;
}

a {
	color: white;
}

.img1 {
     width:400px;
     height:250px;
     margin-left: 20px;
     	   position: relative;
    top:-60px;
}


.bimg {
	 background-image: url('form_bg.JPG');
	 background-size:90% 85%;
	 background-repeat: no-repeat;

	 position:relative;top:-60px;
     margin-left: 20px;
	 

}

.sec1{background-color:maroon;
  color:white; 
  font-weight: 800;
  padding:7px;
  margin-right:300px;
}

.sec2 {
	  float: right;
	 position: relative;top:-35px; left:-60px;
	  font-weight: 800;
	   letter-spacing: 1px;
	}

big {	
    color:darkblue;
}

.sec3 { 
	color:black;
     padding-top: 10px; 
   padding-left:30px;
   }


.img2 {
	transform: rotate(15deg);
	float:right;
	position: relative;
	left:-60px;
    
}

.form {

	padding-left:30px;
	position: relative;
	top:-10px;
	font-size: small;
}
h5 {
	color:black;
}

.line1 {

	border:3px solid transparent;
 }

.sec4 {
	position: relative;
	top:-40px;
}

.button {

	background-color: maroon;
	border:none;
	color:white;
	font-size: 10px;
	padding:5px;

}

.row1 {
	display: flex;
	flex:100%;
	position: relative;
	top:-100px;
	clear:both;
}

.column1 {
	flex:30%;
	float:left;
	margin-left: 25px;
}

.column2 {
    flex:40%;
    float:left;

}

.column3 {
	flex:30%;
	float:left;
	
}


.sec5 {
    color:gray;


}

.img3 {

	float:right; 
	margin-right: 20px;
}

.sec6 {
     color:maroon;
     position: relative;
     top:-20px;

}

.sec7 {

     color:gray;
     position:relative;
     top:-20px;

}

.line2 {

      border-top: 1px solid gray;
       width:150px;
       float:right;
       position: relative;
       top:-30px;
       margin-right:20px;
}

.button1 {
    float:right;
	background-color: maroon;
	border:none;
	color:white;
	font-size: 10px;
	padding:6px;
	position: relative;
	top:-30px;
	left:-40px;
	letter-spacing: 1px;

}

.img4 {

     float:left;
}

.img5 {

	float:right;
	margin-right:20px;
	margin-top:20px;
}

.sec8 {
      color:gray;
      padding-left: 20px;
}
.sec9 {

	position: relative;
	top:-20px;
}

.line3 {
	border-top: 1px solid gray;
       width:140px;
       position: relative;
       top:-35px;
       margin-left:20px;
}
.button2 {
    
	background-color: maroon;
	border:none;
	color:white;
	font-size: 10px;
	padding:6px;
	position: relative;
	top:-35px;
	right:-60px;
	letter-spacing: 1px;
}
.line4 {
	 border-top: 1px solid gray;
       width:320px;
       position: relative;
       top:-20px;
       
}
.img6 {

	float:right;
	margin-right:20px;
}

.mainsec {
	position:relative;
	top:-30px;
}

.img7 {
	float: left;

}


.row2 {
	display: flex;
	flex:100%;
	position: relative;
	top:-150px;
	clear:both;
}
.column1a {
     flex:25%;
     float:left;


}

.column2a {
       flex:50%;
       float:left;

}

.column3a {
      flex:25%;
      float:left;
}

.hr_shadow {
        position:relative;top:-150px;

}

.sec10 {
       color:gray;
      padding-left:20px;
}

.img8 {
	float:left;
    padding-left: 20px;
}

.botton3 {
     background-color:gray;
	border:none;
	color:white;
	padding: 3.5px;
}

.sec11 {
	color:gray;
	padding-left:80px;

}
.sec12 {
   
	color:gray;
}
 .sec13 {
 	color:maroon;
 	position: relative;
    top:-20px;
    padding-left: 20px;
}

.sec14 {
	color:gray;
	position: relative;
	top: -30px;
	right:-20px;
	font-size: 20px;
}

.sec15 {
	position: relative;
	top:-20px;
}
.sec16 {
	position: relative;
	top:-70px;
}  

.sec17 {
      position: relative;
	top:-140px;
}

.sec18 {
	color:gray;
position:relative;
top:-180px;
right:-40px;
}
.maroon {
	color:maroon;
}